{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

<aside class="body">
    <table>
        <thead>
            <th>#</th>
            <th>Практика</th>
            <th>Лекция</th>
            <th>Домашняя работа</th>
        </thead>
        <tbody>
            {% for lab in articles_page.object_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ SITEURL }}/{% if lab.part_of %}{{ lab.part_of }}{% else %}{{ lab.url }}{% endif %}">{{ lab.title }}</a></td><td> {% if lab.lecture_link %}<a href="{{ lab.lecture_link }}">видео</a>{% endif %}{% if lab.lecture_link2 %} / <a href="{{ lab.lecture_link2 }}">видео 2</a>{% endif %}{% if lab.lecture_comment %}{% if lab.lecture_link %}. {% endif %}{{ lab.lecture_comment }}{% endif %}
                    {% if lab.lecture_pdf %}{% if lab.lecture_link %}&nbsp;/&nbsp;{% endif %}<a href="{{ SITEURL }}/lections/lection_{{ loop.index}}.pdf ">PDF</a>{% endif %}
                </td>
                <td>{% if lab.test_link %}<a href="{{ lab.test_link }}">{% endif %}{{ lab.test_comment }}{% if lab.test_link %}</a>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</aside>

{% endblock content %}
